.list-wrapper {
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  font-size: 12px;
  text-align: left;
  color: #606060;
  
  li {
    display: flex;
    line-height: 24px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      color: #1890ff;

      .item-state {
        background-image: url('../assets/images/close.svg');
      }
    }
  }

  a {
    display: flex;
    margin-right: 6px;
    align-items: center;
    
    .item-preicon {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }

  .item-state {
    width: 20px;
    height: 20px;
    display: block;
    background: url('../assets/images/close.svg') center center no-repeat;
    background-size: 80%;
    transition: all .3s;
    cursor: pointer;
  }
  .item-state-loading {
    background-image: url('../assets/images/loading.svg');
    background-size: 70%;
    animation: loading 1s linear infinite;
  }
  .item-state-success {
    background-image: url('../assets/images/correct.svg');
  }
  .item-state-failed {
    background-image: url('../assets/images/error.svg');
  }

  @keyframes loading {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
