* {
  box-sizing: border-box;
}

.wrapper {
  margin: 30px 10px 20px;
}

.container {
  padding: 10px 50px;
  margin-right: 240px;
  overflow: hidden;
}

.menu-list {
  width: 200px;
  padding: 0 20px;
  line-height: 2;
  position: fixed;
  right: 0;

  & > a {
    display: block;
    color: #314659;
    text-decoration: none;
    transition: all .5s;
    &:hover {
      color: #1890ff;
    }
  }
}

.upload-exp {
  width: 200px;
  padding: 8px 10px;
  color: #fff;
  background-color: #1890ff;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #40a9ff;
  }
}

.dragger-inner {
  display: block;
}

.dragger-outter {
  display: flex;
  margin-top: 20px;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  border: 1px dashed #8e8e8e;
}

.exp-wrapper {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  transition: all .5s;
  &.exp-wrapper-active {
    border-width: 1px;
    border-color: #40a9ff;
    box-shadow: 0 0 6px 0 #40a9ff;
  }

  .exp-title {
    padding-bottom: 12px;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
  }
  .exp-wrapper * {
    box-sizing: border-box;
  }
}
.exp-result {
  margin-bottom: 10px;
}
.exp-result, .exp-code {
  text-align: center;
}

.exp-code {
  $border-color: #d3dce6;
  $bg-color: #f0f0f0;
  $bdradius: 8px;

  margin-top: 20px;

  .exp-code-header {
    padding: 10px 0;
    font-size: 12px;
    border: 1px solid $border-color;
    background-color: $bg-color;
    border-radius: $bdradius $bdradius 0 0;
    
    .code-toggle {
      color: #a0a0a0;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover {
        color: #409eff;
      }
    }
  }

  .exp-code-content {
    overflow: hidden;
    border: 1px solid $border-color;
    border-top: none;
    transition: all .3s;
    border-radius: 0 0 $bdradius $bdradius;

    &, & * {
      background-color: $bg-color!important;
    }
  }
}
